/* Style for GalaxyProject.org */

html {
    margin: 0;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    color: #2C3143;
    /* background-color: #C9D0E8; */
}

#content {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60em;
    background-color: white;
    min-height: 100%;
}

a {
    color: inherit;
}

#hero {
    margin-top: 0;
    width: 100%;
    padding: 0;
    text-align: center
}

#hero a {
    color: #eeeeee;
    text-decoration: none;
}

#hero img {
    margin: auto;
    height: auto;
    width: 40em;
    vertical-align: bottom;
    padding-top: 1px;
    max-width:100%
}

#content {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
    max-width: 90%
}

#tagline {
    font-family: 'Hoefler Text', 'Georgia', serif;
    text-align: center;
    font-size: 220%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    color: #2C3143;
}

#subtag {
    font-size: 110%;
    color: #777;   
    width: 40em;
    margin: 2em auto;
}

#big_links {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0;
}

#big_links_titles {
    font-size: 150%;
    font-weight: normal;
    font-family: 'Hoefler Text', Georgia, serif;
    color: #023858;
}

#big_links_titles a {
    color: black;
    text-decoration: none;
}

#big_links_images img {
    padding-top: 1em;
    border-style: none;
}

#big_links_small_text td {
    padding: 1em 2em 2em 2em;
    font-size: 80%;
}

#opening_text {
    margin: 2em 0;
    padding-bottom: 3em;
    padding-right: 3%;
    font-size:110%;
}

#opening_text ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url("arrow-right.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
}

#detailed_text {
    margin-right: auto;
    margin-left: auto;
    width: 40em;
}

#acks {
    color: #777;
    margin-top: 5em;
    font-size: 80%;
}
.pimg{
    width:30%;
    max-width: 30em;
    margin: 1em;
}

hr {
     margin: 1em;
     margin-top: 2em;
     margin-bottom: 2em;
}
